.container {
    background-color:black;
    width: 300px;
    margin:0 auto;
}

.imgs {
    text-align: center;
}

.img {
    padding: 20px 0;
    width: 200px;
}

.resultado {
    margin: 0 auto;
    font-size: 60px;
    padding-top:20px; ;
}